In [13]:
import pandas as pd
import numpy as np

In [5]:
data_train = "../classification_dataset/classification_train.csv"
df_train = pd.read_csv(data_train)
df_train.head()

        x_1       x_2  y
0 -1.273580  0.642793  1
1 -0.099602  0.840770  1
2 -1.010065 -1.857753  0
3  0.895425 -0.831040  0
4  1.043244 -1.045208  0

In [15]:
X = df_train[['x_1','x_2']].to_numpy()
Y = df_train[['y']].to_numpy()
print("X: ", np.shape(X),"--------", " Y: ",np.shape(Y))
# Y = classifier.predict(X)

X:  (10000, 2) --------  Y:  (10000, 1)

In [24]:
train_x = np.array(X[0:8000])
print(len(train_x))
train_y = np.array(X[8000:10000])
print(len(train_y))
test_x = np.array(Y[0:8000])
print(len(test_x))
test_y = np.array(Y[8000:10000])
print(len(test_y))

8000
2000
8000
2000